.checkbox-custom { 
  content:'';
  background:transparent;
  border: 3px solid #88c64b;
  border-radius: 25px;
  display: inline-block;
  height: 35px;
  width: 35px;
  margin-right: 5px;
  text-align:center;
  text-shadow:4px -2px 3px gray; 
  vertical-align:middle; 
}