{% extends 'base/base.html' %}

{% block page_content %} 
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Subcategoría</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'bases:home-vw' %}">Home</a></li>
              <li class="breadcrumb-item active">Subcategoría</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12"> 
            <!-- /.card --> 
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Listado de subcategoría</h3>

                <div class="dropdown no-arrow float-right">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                        aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Acciones:</div>
                        <a class="dropdown-item" href="{% url 'inventario:subcategoria_nuevo-vw' %}"><i class="far fa-plus-square"></i> Crear</a>
                        <!-- <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a> -->
                    </div>
                </div>

              </div>
              <!-- /.card-header -->
              <div class="card-body"> 
                <table id="example1" class="table table-bordered table-color-head-and-footer table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Descripción</th>
                            <th>Categoría</th>
                            <th>Estado</th>
                            <th>Usuario Creación</th>
                            <th>Fecha Creación</th>
                            <th class="all">Acciones</th> 
                        </tr>
                    </thead>
                    <tfoot>
                        <tr> 
                            <th>Id</th>
                            <th>Descripción</th>
                            <th>Categoría</th>
                            <th>Estado</th>
                            <th>Usuario Creación</th>
                            <th>Fecha Creación</th>
                            <th class="all">Acciones</th> 
                        </tr>
                    </tfoot>
                    <tbody>
                        {% if not obj %}
                        <tr>
                            <td colspan="6" style="text-align: center;">No existe ninguna subcategoría</td>
                        </tr>
                        {% else %}
                            {% for item in obj %}
                                <tr>
                                    <td>{{ item.id }}</td>
                                    <td>{{ item.descripcion }}</td>
                                    <td>{{ item.categoria }}</td>
                                    <td>
                                        <span class="badge {% if item.estado %}badge-success{% else %}badge-danger{% endif %}">
                                            {{ item.estado|yesno:'Activo, Inactivo'}}
                                       </span>
                                    </td>
                                    <td>{{ item.usuario_creacion}}</td> 
                                    <td>{{ item.fecha_creacion|date:"d/m/Y" }}</td>
                                    <td>
                                        <a href="{% url 'inventario:subcategoria_editar-vw'  item.id  %}" class="btn btn-warning btn-circle" role="button"><i class="far fa-edit"></i></a>
                                        <a href="#" class="btn btn-danger btn-circle" role="button"><i class="far fa-trash-alt"></i></a>
                                    </td> 
                                </tr>
                            {% endfor %} 
                        {% endif %}
                    </tbody>
                </table> 
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>

{% endblock %}